@page
@model Concept.Vertical.Web.IndexModel

<html>
<head>
</head>
<body>
    <p>Hello</p>
    @foreach (var domId in Model.ComponentDomIds)
    {
        <div id="@domId"></div>
    }

    <script type="text/javascript" src="~/signalr.min.js"></script>
    <script type="text/javascript" src="~/webSocket.js"></script>

    @foreach (var scriptSrc in Model.ComponentScriptSrc)
    {
        <script type="text/javascript" src="@scriptSrc"></script>
    }
</body>
</html>